@font-face {
    font-family: gothic-13;
    src: url("@/theme/font/GothicThirteenStd.otf");
}

@font-face {
    font-family: SourceHanSansCN-Bold;
    src: url("@/theme/font/SourceHanSansCN-Bold.ttf");
}
@font-face {
    font-family: SourceHanSansCN-Medium;
    src: url("@/theme/font/SourceHanSansCN-Medium.ttf");
}

@font-face {
    font-family: SourceHanSansCN-Normal;
    src: url("@/theme/font/SourceHanSansCN-Normal.ttf");
}
@font-face {
    font-family: SourceHanSansCN-Regular;
    src: url("@/theme/font/SourceHanSansCN-Regular.ttf");
}
@font-face {
    font-family: Impact;
    src: url("@/theme/font/IMPACT.TTF");
}
