$headHeight: 70px;

$footerHeight: 50px;
/*
 左侧菜单栏大小
**/
$sideBarWidth: 200px;
$sideBarCloseWidth: 120px;
/*
 logo 高度
**/
$logoBoxHeight: 70px;
$logoBoxCloseHeight: 50px; 

$font-size-12: 12px; 
$font-size-14: 14px; 
$font-size-15: 15px; 
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-34: 34px;
$font-size-36: 36px;
$font-size-40: 40px;
$font-size-45: 45px;
$font-size-48: 48px;
$font-size-56: 56px;

//菜单 小图标
$menu-icon-small:20px;
//菜单 大图标
$menu-icon-large:25px;


$breadcrumb-height:45px;
$tagsView-height:40px;
$footer-height:20px;
$tagPadding: 15px;
$tagMargin: 6px;
